.globalCont{
    margin-bottom: 0;
}

.titleBtn{
    display: flex;
    margin-top: 30px;

}

.input{

}

.mediaBtns> a{

}

.btnContainer{
    display: flex;
    margin-top: 25px;
}

.inputCont{
    display: flex;
}